body {
	font-size: 20px;
	line-height: 1.3;
	
	max-width: 60ch;
	
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
}

input[type="button"] {
	font-size: 2em;
}

input#start-ticking {
	margin-right: 0.5em;
}


h1 {
	margin-bottom: 0em;
}

header {
	margin-bottom: 2em;
}

.author {
	font-style: italic;
}

.book-quote {
	font-size: 0.9em;
	margin-top: 2em;
	margin-bottom: 2em;
}


@media (max-width: 600px) {
	body {
		font-size: 18px;
	}
	input[type="button"] {
		font-size: 1.5em;
	}
}
@media (max-width: 420px) {
	body {
		font-size: 16px;
	}
	input[type="button"] {
		font-size: 1.2em;
	}
}
